.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 1.5rem;
}

.section {
	padding: 6rem 0;
}

.info__section {
	position: relative;
	background: rgba(0, 0, 0, 0.75) url('../images/rectange-info.jpg') no-repeat
		center / cover;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.75);
	}

	.info__inner {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: space-between;
		padding: 4rem;

		.info__title {
			text-align: start;
			font-size: 52px;
			color: #fff;
		}

		.info__btn {
			&:hover {
				color: #fff;
				border: 1px solid $red;
			}
		}
	}
}

.info__section--dream {
	background: rgba(0, 0, 0, 0.75) url('../images/rectange-info-2.jpg') no-repeat
		center / cover;
}

.title,
.descr,
.card__article,
.btn,
.section__btn {
	text-align: center;
}

.title,
.card__title,
.btn,
.section__btn,
.content__title,
.more {
	font-family: 'Playfair Display', sans-serif;
}

.btn,
.section__btn {
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.5s;
}

.btn {
	padding: 1rem 3rem 1.4rem;
	color: #fff;
	background-color: $red;
	border: 1px solid $red;
	font-size: 2.6rem;
	&:hover {
		background-color: transparent;
		color: $red;
	}
}

.section__btn {
	padding: 1rem 4rem 1.2rem;
	color: $gray;
	background-color: transparent;
	border: 1px solid $red;
	text-transform: uppercase;
	font-size: 1.6rem;
	line-height: 21px;
	&:hover {
		border-color: $red;
		background-color: $red;
		color: #fff;
	}
}

.btn--submit {
	font-size: 1.6rem;
}

.title {
	font-size: 4.2rem;
	line-height: 56px;
	margin-bottom: 0.5rem;
}

.descr {
	margin: 0 auto;
	line-height: 2;
	margin-bottom: 4rem;
	text-transform: uppercase;
	color: $gray;
	font-size: 1.4rem;
}

.card__article {
	max-width: 27rem;
	width: 100%;
}

.card__title {
	font-size: 2rem;
	line-height: 27px;
	margin-bottom: 1.2rem;
	font-weight: normal;
}

.more {
	font-weight: normal;
	font-size: 1.6rem;
	line-height: 2rem;
}
